:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(22, 22, 22, 1);
  --color-stroke: rgba(22, 22, 22, 0.1);
  --color-grey: rgba(136, 136, 136, 1);
  --color-red: rgba(177, 0, 47, 1);

  --page-gap: 68px;
}
